<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1><%= dataFromSpoonacular.title %></h1>
    <div id="upperHalf" class="row">
        <div id="image" class="column">
            <img src="<%= dataFromSpoonacular.image %>" alt="recipe image">
        </div>
        <div id="summary" class="column">
            <h2>Summary</h2>
            <%- dataFromSpoonacular.summary %>
        </div>
    </div>
    
    <div id="lowerHalf" class="row">
        <div id="ingredients" class="column">
            <h2>Ingredients</h2>
            <ul>
            <% 
                for(let i = 0; i < dataFromSpoonacular.ingredients.length; i++){
                    %>
                        <li>
                            <%= dataFromSpoonacular.ingredients[i].measures.metric.amount %> 
                            <%= dataFromSpoonacular.ingredients[i].measures.metric.unitShort %>
                            -<b>
                            <%= dataFromSpoonacular.ingredients[i].name %>
                            </b>
                        </li>
                    <%
                }
            %>
            </ul>
        </div>
        <div id="instructions" class="column">
            <h2>Instructions</h2>
            <%- dataFromSpoonacular.instructions %> 
        </div>
    </div>
</body>
</html>